.cantact-form {
  height: auto;
  /* width: 500px; */
  font-size: 21px;
  position: relative;
}
.Cantact-title {
  margin-top: 0.9em;
  position: relative;
}
.Cantact-title::after {
  content: '';
  display: block;
  width: 80px;
  height: 2px;
  background: #777;
  left: 20%;
  bottom: -12px;
  position: absolute;
}
.submit {
  justify-content: center;
  background-color: #222222 !important;
  line-height: 1.33333;
  padding: 8px 25px !important;
  align-items: center;
  font-size: 20px !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  display: flex;
  -webkit-box-align: center;
  box-shadow: none !important;
  cursor: pointer;
  color: white !important;
}
.submit:hover {
  opacity: 90%;
}
