.footer {
  background: #222222 !important;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 270px;
  position: relative;
}
.footer-icon {
  cursor: pointer;
}
